<nav class="navbar navbar-expand-lg navbar-light main-navbar header">
  <a class="image-container" routerLink="/"
    ><img
      class="image-logo"
      src="https://i.ibb.co/mbDZbqW/77cecdf9-940d-49a3-84fe-5fed890ec1c9-200x200.png"
      alt="77cecdf9-940d-49a3-84fe-5fed890ec1c9-200x200"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link active"
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        >Home <span class="sr-only">(current)</span></a
      >
      <a
        class="nav-item nav-link"
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/login"
        *ngIf="!isLogged"
        >Login</a
      >
      <a
        class="nav-item nav-link"
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/register"
        *ngIf="!isLogged"
        >Register</a
      >
      <a
        class="nav-item nav-link"
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/s"
        (click)="onLogout()"
        *ngIf="isLogged"
        >Logout</a
      >
      <a
        class="nav-item nav-link"
        role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/event"
        *ngIf="isLogged"
        >Event</a
      >
    </div>
  </div>
</nav>
