<div class="card" *ngFor="let message of messages" [hidden]="!isActive">
  <div class="container">
    <h5 class="card-header card-title">
      This question is from <strong>{{ message.sender.username }}</strong>
    </h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ message.content }}
    </p>
    <div class="row justify-content-between">
      <button
        type="button"
        class="btn btn-outline-success col-2"
        (click)="onVote(1, message._id)"
        [disabled]="message?.votedUsers?.includes(voteData.userId)"
      >
        Up <span class="badge badge-light">{{ message.upvote }}</span>
      </button>
      <!--  -->
      <button
        type="button"
        class="btn btn-outline-danger col-2"
        (click)="onVote(-1, message._id)"
        [disabled]="message?.votedUsers?.includes(voteData.userId)"
      >
        Down <span class="badge badge-light">{{ message.downvote }}</span>
      </button>
      <!--  -->
      <button
        type="button"
        class="btn btn-outline-dark col-2"
        (click)="onDelete(message._id, message.event)"
        *ngIf="isCreator"
      >
        Delete
      </button>
    </div>
  </div>
</div>
<div class="card" [hidden]="isActive">
  <div class="container">
    <h5 class="card-header card-title">The event has been closed!!</h5>
  </div>
  <div class="card-body">
    <div class="row justify-content-between">
      <button type="button" class="btn btn-outline-danger col-2" routerLink="/">
        Close
      </button>
    </div>
  </div>
</div>
