<div class="card" *ngFor="let message of messages">
  <div class="container">
    <h5 class="card-header card-title">{{ message.sender.username }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ message.content }}
    </p>
    <div class="row justify-content-between">
      <button type="button" class="btn btn-outline-success col-2">
        Upvote <span class="badge badge-light">4</span>
      </button>
      <button type="button" class="btn btn-outline-danger col-2">
        Down <span class="badge badge-light">4</span>
      </button>
      <button type="button" class="btn btn-outline-warning col-2">
        Archive
      </button>
      <button
        type="button"
        class="btn btn-outline-dark col-2"
        (click)="onDelete(message._id, message.event)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
