<div class="container">
  <div class="row col-12 justify-content-center">
    <form
      class="col-6"
      (ngSubmit)="onSubmit(registerForm)"
      #registerForm="ngForm"
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          aria-describedby="emailHelp"
          placeholder="Enter username"
          ngModel
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
          ngModel
          name="password"
        />
      </div>
      <div class="form-group">
        <label for="repeat-password">Repeat password</label>
        <input
          type="password"
          class="form-control"
          id="repeat-password"
          placeholder="Repeat password"
          ngModel
          name="repeatPassword"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
