<form id="singleGame">
   <div class="radio-container"><span>Please select range</span><br>
      <input type="radio" name="range" value="01-10" checked>1 - 10</input><br>
      <input type="radio" name="range" value="10-100">10 - 100</input><br>
      <input type="radio" name="range" value="100-1000">100 - 1000</input><br>
   </div>
   <div class="radio-container"><span>Please select operation</span><br>
      <input type="radio" name="operation" value="+" checked>Addition (+)</input><br>
      <input type="radio" name="operation" value="-">Division (-)</input><br>
   </div>
   <div class="radio-container many-broblems"><span>Please select how many problems</span><br>
      <input type="radio" name="quantity" value="5" checked>5</input><br>
      <input type="radio" name="quantity" value="10">10</input><br>
      <input type="radio" name="quantity" value="15">15</input><br>
      <input type="radio" name="quantity" value="20">20</input><br>   
   </div>
   <input class="game-button" type="submit" value="Generate game"></input>
</form>
<div id="game-container"></div>