<div class="row col-12 justify-content-center">
        <form class="col-6">
          <div class="form-group">
            <label for="event-name">Name of the event</label>
            <input
              type="text"
              class="form-control"
              id="event-name"
              placeholder="Name"
            />
          </div>
          <div class="form-group">
            <label for="event-description">Description of the event</label>
            <textarea
              class="form-control"
              id="event-description"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>