@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
body {
  background-color: #edeae5;
  font-family: "Special Elite", cursive;
}
.container {
  box-sizing: border-box;
}
.header {
  /* border: 2px dashed purple; */
  margin-bottom: 0.2rem;
}
.sidebar {
  box-sizing: border-box;
  /* border: 2px solid black; */
  margin-left: 1rem;
}


.card {
  margin: 0.2rem 0 0.2rem 0;
}

.create-event-btn {
  width: 15rem;
  height: 15rem;
}
